{:deps    {org.clojure/clojure      {:mvn/version "1.11.1"}
           poly/cli                 {:local/root "../../bases/cli"}
           poly/do-thing            {:local/root "../../components/do-thing-two"}
           poly/maybe-depended-upon {:local/root "../../components/maybe-depended-upon"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
