{:top-namespace "shared-int.example"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}
 :projects {"development" {:alias "dev"}
            "do-thing-one-via-cli" {:alias "dt1"}
            "do-thing-two-via-cli" {:alias "dt2"}}}
